# Showcasing ICDCodesGrouper

In [1]:
import pandas as pd

In [2]:
from ICDCodesGrouper import ICDCodesGrouper

In [3]:
# settings points to the files that contain the mappings: icd9->ccs & icd9->chapters
codes_grouper = ICDCodesGrouper(ccs_path='grouper_data/CCS-SingleDiagnosisGrouper.txt',
                                icd9_chapter_path='grouper_data/icd9-CM-code-chapter-en=PT.csv',
                                cci_path='grouper_data/cci2015.csv'
                               )

# Import a toy dataset

In [4]:
hospital_data = pd.read_csv('toy_diagnoses_dataset.csv')
hospital_data.head(5)
hospital_data.shape

  ICD9_CODE
0     29410
1      5362
2     34290
3      3669
4       NaN

(50, 1)

# ICD9->CCS

In [5]:
hospital_data['CCS'] = codes_grouper.ccs.lookup(hospital_data['ICD9_CODE'])
hospital_data.head(10)

  ICD9_CODE    CCS
0     29410  653.0
1      5362  141.0
2     34290   82.0
3      3669   86.0
4       NaN    NaN
5       NaN    NaN
6      3484   95.0
7     60000  164.0
8      5770  152.0
9       NaN    NaN

# ICD9->Chapters

In [6]:
hospital_data['ICD9 Chapters'] = codes_grouper.icd9chapters.lookup(hospital_data['ICD9_CODE'])
hospital_data.head(10)

  ICD9_CODE    CCS ICD9 Chapters
0     29410  653.0             5
1      5362  141.0             9
2     34290   82.0             6
3      3669   86.0             6
4       NaN    NaN           NaN
5       NaN    NaN           NaN
6      3484   95.0             6
7     60000  164.0            10
8      5770  152.0             9
9       NaN    NaN           NaN

# Now for all available groups

In [7]:
hospital_data = pd.read_csv('toy_diagnoses_dataset.csv')

groups = codes_grouper.get_available_groupers()

for g in groups:
    hospital_data[g] = codes_grouper.lookup(g,hospital_data['ICD9_CODE'])
    
hospital_data.head(10)

  ICD9_CODE    ccs icd9chapters icd9_level3    cci
0     29410  653.0            5         294   True
1      5362  141.0            9         536  False
2     34290   82.0            6         342   True
3      3669   86.0            6         366   True
4       NaN    NaN          NaN         nan    NaN
5       NaN    NaN          NaN         nan    NaN
6      3484   95.0            6         348   True
7     60000  164.0           10         600   True
8      5770  152.0            9         577  False
9       NaN    NaN          NaN         nan    NaN