# Showcasing ICDCodesGrouper

In [1]:
import pandas as pd

In [2]:
from ICDMappings import ICDMappings

In [3]:
# settings points to the files that contain the mappings: icd9->ccs & icd9->chapters
icdmap = ICDMappings()

# Import a toy dataset

In [4]:
hospital_data = pd.read_csv('toy_diagnoses_dataset.csv')
hospital_data.head(5)
hospital_data.shape

  ICD9_CODE
0     29410
1      5362
2     34290
3      3669
4       NaN

(50, 1)

# Check all available mappings

In [5]:
print(icdmap.get_available_groupers())

['icd9toccs', 'icd9to10', 'icd10to9', 'icd9tochapter', 'icd9_level3', 'icd9tocci']

# ICD9->ICD10

In [6]:
hospital_data['ICD10'] = icdmap.lookup('icd9to10',hospital_data['ICD9_CODE'])
hospital_data.head(5)

  ICD9_CODE  ICD10
0     29410  F0280
1      5362  R1110
2     34290  G8190
3      3669   H269
4       NaN    NaN

# ICD10->ICD9

In [7]:
hospital_data['ICD10->9'] = icdmap.lookup('icd10to9',hospital_data['ICD10'])
hospital_data.head(5)

  ICD9_CODE  ICD10 ICD10->9
0     29410  F0280    29410
1      5362  R1110    78703
2     34290  G8190    34290
3      3669   H269     3669
4       NaN    NaN      NaN

Notice that when mapping backwards 9->10->9 there are some inconsistencies. The current mappings are not perfect.

# ICD9->CCS

In [8]:
hospital_data['CCS'] = icdmap.lookup('icd9toccs',hospital_data['ICD9_CODE'])
hospital_data.head(5)

  ICD9_CODE  ICD10 ICD10->9    CCS
0     29410  F0280    29410  653.0
1      5362  R1110    78703  141.0
2     34290  G8190    34290   82.0
3      3669   H269     3669   86.0
4       NaN    NaN      NaN    NaN

# ICD9->Chapters

In [9]:
hospital_data['ICD9 Chapters'] = icdmap.lookup('icd9tochapter',hospital_data['ICD9_CODE'])
hospital_data.head(10)

  ICD9_CODE  ICD10 ICD10->9    CCS ICD9 Chapters
0     29410  F0280    29410  653.0             5
1      5362  R1110    78703  141.0             9
2     34290  G8190    34290   82.0             6
3      3669   H269     3669   86.0             6
4       NaN    NaN      NaN    NaN           NaN
5       NaN    NaN      NaN    NaN           NaN
6      3484   G935     3484   95.0             6
7     60000   N400    60000  164.0            10
8      5770   K859     5770  152.0             9
9       NaN    NaN      NaN    NaN           NaN

# ICD9->CCI (Chronic Condition Indicator)

In [10]:
hospital_data['cci'] = icdmap.lookup('icd9tocci',hospital_data['ICD9_CODE'])
hospital_data.head(10)

  ICD9_CODE  ICD10 ICD10->9    CCS ICD9 Chapters    cci
0     29410  F0280    29410  653.0             5   True
1      5362  R1110    78703  141.0             9  False
2     34290  G8190    34290   82.0             6   True
3      3669   H269     3669   86.0             6   True
4       NaN    NaN      NaN    NaN           NaN    NaN
5       NaN    NaN      NaN    NaN           NaN    NaN
6      3484   G935     3484   95.0             6   True
7     60000   N400    60000  164.0            10   True
8      5770   K859     5770  152.0             9  False
9       NaN    NaN      NaN    NaN           NaN    NaN